**/__pycache__/
**/.ipynb_checkpoints/**
**/.DS_Store
**/._.DS_Store
*.pyc
*.vscode/
**/tb/**
**/archive/**
**/baseline/arfl-master/arfl-master/models/runs/**
**/data_cache.obj
**/cifar-10-batches-py/
**/cifar-10-python.tar.gz
**/exp1.log
**/exp2.log
**/exp3.log
**/cifar-100-python
**/FashionMNIST
**/cifar-100-python.tar.gz
**/data/imdb
**/data/downloads
**/.._.._data_imdb_plain_text*
**/data/goemotions/
